<!DOCTYPE html>
<html>

<head>
	<title>404: pAgE nOt FoUnD</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1><pre>404 ERROR: PAGE NOT FOUND</pre></h1>
	<h2>Is this how you feel right now:</h2>
	<img src="../Fighters.jpeg" alt="2 ppl fighting"/>
  <h1> Hmmmm, it looks like someone has eaten this page up! <h6>ch1ck3n ate the page mwahahahah</h6></h1>
  <h3> You have reached the wrong page. Please go back to your original page or check the link. Please contact the the Repl.it Coders <a href = "https://github.com/Repl-it-Coders"><b>here</b></a>! We want to make sure you have the best experience here. <br/> <br/> Go back to the about page <a href="https://about-page.whippingdot.repl.co/"><b>here.</b></a></h3>
  
</body>

<a href="/index">⬅️ Take me back please.</a>