<!DOCTYPE html>
<html lang="en" class="full-center forofor">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dem Bad Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="lostheader">Is this how you feel right now:</h1>
    <!-- <img src="Fighters.jpeg" alt="TWO PEOPLE FIGHTING"> Make this work so the space left is used -->
    <h1 class = "lostheader"> Hmmmm, it looks like someone has eaten this page up! <h6>ch1ck3n ate the page mwahahahah</h6></h1>
    <h3 class = "losttext"> You have reached the wrong page. Please go back to your original page or check the link. Please contact the the Repl.it Coders <a class = "lostlink" href = "https://github.com/Repl-it-Coders"> here</a>! We want to make sure you have the best experience here. <br/> <br/> Go back to the about page <a class="lostlink" href="https://about-page.whippingdot.repl.co/"><b>here.</b></a></h3>
  </body>
</html>