<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - ch1ck3n!</title>
    <link rel="stylesheet" href="style.css">
    <!-- A bootstrap nav I found in my repls -ch1ck3n -->
  </head>
  <style>
    *{color:white;}
    </style>
  <body>
    <h1 style="float:left;"><b>hello there</b></h1>
    <h2>This is my lair</h2>
    <h3>I do weird stuff</h3>
    <h4>I like h1 and h3 the most</h4>
    <h5>but i'm using all heading now</h5>
    <h6>So i guess that's it</h6>
    <h1 ><a href="../">Bye</a></h1>
  </body>
</html>