<!-- I have removed everything as there were random stuff there. I recommend you add a class to your HTML tag and use that html.classname in the style.css file so everything is more clean. I want clean pages. All the CSS should be in style.css and your pages should not have links to random things. Have a clean head. Everything in the body tho can be AS MESSY AS YOU WANT 😁 Everyone should also be on the same page so if you make a change, no-matter how small it is, write it down in the READTHIS.md(at the bottom of the page there is the activity log). Also if I deleted something important go to the main branch IN GITHUB and see your files. This is a different branch right now and DO NOT CHANGE THE BRANCH HERE -->
<h1><b>hello there</b></h1>
<h2>My name is Landon</h2>
<h2>This is my lair</h2>
<h3>I do weird stuff</h3>
<h4>I like h1 and h3 the most</h4>
<h5>but i'm using all heading now</h5>
<h6>So i guess that's it</h6>

<h1>Here are my projects</h1>

<h3>

<a href="https://repl.it/@ch1ck3n/DogeNews">DogeNews</a>
<a href="https://repl.it/@ch1ck3n/Doge-Doggo-Luxury-Foods">Doge Doggo Luxury Foods</a>
<a href="https://repl.it/@ch1ck3n/Morse-code">Morse code translator</a>
<a href="https://repl.it/@ch1ck3n/LandonPedia">LandonPedia</a>
OF COURSE YES
<h1><a href="https://ch1ck3n.com">My site</a>

<h1><a href="../">Bye</a></h1>
