<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - ch1ck3n!</title>
    <link rel="stylesheet" href="../style.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  </head>
    <style>
      div{
        // This is some thing you should not get rid of -- EVER
        background-color:black;
      }
    </style>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/dark">About <b>darkdarcool</b></a></li>
          <li><a href="/codingredpanda">About.. <b>Codingredpanda)</b></a></li>
          <li><a href="/ch1ck3n">About <b>ch1ck3n</b></a></li>
          <li><a href="/colepete">About <b>ColePete</b></a></li>
        </ul>
      </div>
    </div>
    <div>
    <h1 style="float:left;"><b>hello there</b></h1>
    <h2>This is my lair</h2>
    <h3>I do weird stuff</h3>
    <h4>I like h1 and h3 the most</h4>
    <h5>but i'm using all heading now</h5>
    <h6>So i guess that's it</h6>
    <h1 ><a href="../">Bye</a></h1>
    </div>
  </body>
</html>