<!DOCTYPE html>
<html class="codemonkey51">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Codemonkey51!</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<a href="/">< Go back to the main page</a>
		<h1>Codemonkey51</h1>
		<p>Codemonkey51 is a replit user that rarley uses repl talk anymore, although they are very active on the replit discord, not many repls of theirs are made public.</p>
		<ul>
			<li><a href="https://github.com/codemonkey51">Codemonkey51 on github</a></li>
			<li><a href="https://dev.to/codemonkey51">Codemonkey51 on dev.to</a></li>
		</ul>
	</body>
</html>