<!DOCTYPE html>
<html lang="en" class="codingredpanda">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About CodingRedpanda</title>
  </head>
  <body>
    <h2 class="center"><a class="enlarge" href="https://about-page.whippingdot.repl.co/">Get me outta here!!!</a></h2>
    <h1><b>O</b></h1>
    <br/><br/><p><b>k, hello, my name is CodingRedpanda.</p><br/>
    <div class="center">
    <h3><b>Languages I like or know:</b></h3>
    <p><b>Python<br/>JavaScript<br/>Java<br/>C#<br/>Kotlin</b></p>
    <h3><b>Contact:</b></h3>
    <p><b><a href="https://repl.it/@CodingRedpanda">My Repl.It Profile</a><br/><a href="https://github.com/CodingRedpanda">My Git Profile</a><br/>Your welcome to ping me on my Github or Repl.it profile, I don't care.</b></p>
    <h3><b>Roles:</b></h3>
    <p><b>I have <i>hacker</i> on my Repl.It account<br/>I am an explorer</b></p>
    </div>
  </body>
</html>