<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - CodingRedpanda!</title>
    <link rel="stylesheet" href="style.css">
    <!-- A bootstrap nav I found in my repls -CodingRedpanda -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <!-- 


        Hello there inocent human being


     -->

    <style>
      body{
        background-color:black;
      }
      p,h1,h2,h3,h4,b,i{
        color:lime;
      }
      a{
        text-decoration:none;
        color:red;
      }
    </style>
    <h3><a href="https://About-Page.whippingdot.repl.co/">Ok, take me back home plez!</a></h3>
    <h1 style="float:left;"><b>O</b></h1>
<br/><p>
    <b>k, what's up, I'm CodingRedpanda, and here are just a <i>few</i> things about me...<br/><h3>Languages.</h3>Python<br/>Bash<br/>Javascript<br/>Java<br/>HTML5/CSS3<br/>A bit of Scheme<br/>A bit of Erlang<br/>C#<br/>And a lot of others.<br/><h3><b>Where.</b></h3>I'm on github (<a href="https://github.com/CodingRedpanda>">My Git page</a>)<br/>I'm on Repl.It (<a href="https://repl.it/@CodingRedpanda">Repl Page</a>)<br/>I even used to be on Scratch (<a href="https://scratch.mit.edu/users/-smdark-">Scratch Page</a>)<h3><b>Roles.</b></h3>I have a role as an explorer for Repl.It (<a href="https://repl.it/account#roles">Choose your roles</a>)<br/><br/><br/>But, that's basically it, cya!<br/><br/>- <i>@CodingRedpanda</i>
  </p>
  </body>
</html>