<!DOCTYPE html>
<html lang="en" class="codingredpanda">
	<head>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLvEDYeQoH-OtfXr-eNkru0JphGR3PhjdW_gc9qTGC8sf5sB8:logo.pizza/img/red-panda/red-panda-face.png&usqp=CAU"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLvEDYeQoH-OtfXr-eNkru0JphGR3PhjdW_gc9qTGC8sf5sB8:logo.pizza/img/red-panda/red-panda-face.png&usqp=CAU"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLvEDYeQoH-OtfXr-eNkru0JphGR3PhjdW_gc9qTGC8sf5sB8:logo.pizza/img/red-panda/red-panda-face.png&usqp=CAU"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Redpanda Hacker Layer mwahahahaha!</title>
	</head>

	<body>
		<h2 class="center">
			<a class="enlarge" href="https://about-page.whippingdot.repl.co/"
				><b>&lt;- </b>Back?</a
			>
		</h2>
		<h1 class="o"><b>O</b></h1>
		<br /><br />
		<p><b>h, hello, my name is CodingRedpanda.</b></p>
		<br />
		<div class="center">
			<h3><b>Languages I like or know:</b></h3>
			<p>
				<b>Python<br />JavaScript<br />Java<br />C#<br />Kotlin</b>
			</p>
			<h3><b>Contact:</b></h3>
			<p>
				<b
					><a href="https://repl.it/@CodingRedpanda">My Repl.It Profile</a
					><br /><a href="https://github.com/CodingRedpanda">My Git Profile</a
					><br />Your welcome to ping me on my Github or Repl.it profile, I
					don't care.</b
				>
			</p>
			<h3><b>Roles:</b></h3>
			<p><b>I am a repl.it explorer</b></p>
      <h3><b>Check this out:</b></h3>
      <p><b><a href="https://rlycool.codingredpanda.repl.co">A really cool thing.</a></b></p>
		</div>
		<p><b>But that's pretty much it! Bye!</b></p>
    <script src="./views/cr.js/"></script>
    <script>
      console.log(Math.pow(2,2014)); // Infinity
    </script>
	</body>
</html>
