<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ColePete (The Beast)</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <style>
    body{
        // This is some thing you should not get rid of -- EVER
        background-color:black;
  </style>
  <body style="background-color:black;">
    <!-- I did some stuff to prettify the nav and home page -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <style>
    
      }
      ul.b {
  list-style-type: square;
}
h2 {
  font-size: 30px;
  color: white;
  display: inline-block;
}
h1 {
  
  color: white
  
}
h3 {
  
  color: white
  
}
h4 {
  
  color: white;
  display: inline-block
}
    </style>
    <div class="navbar navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/dark">About <b>darkdarcool</b></a></li>
          <li><a href="/codingredpanda">About <b>Codingredpanda</b></a></li>
          <li><a href="/ch1ck3n">About <b>ch1ck3n</b></a></li>
          <li><a href="/colepete">About <b>ColePete</b></a></li>
        </ul>
      </div>
    </div>
    
    <script src="script.js"></script>
    <center><h1>Hey, I am ColePete</h1></center>
    <center><h3>I like to code <b>a lot</b></h3></center>
    <h1>Languages</h1>
    <ul class = "b"> 
    <li><h2>Python</h2></li>
    <li><h2>HTML</h2></li>
    <li><h2>JavaScript</h2></li>
    <li><h2>A little CSS</h2></li>
    </ul>
    <h1>Find Me! (links to my accounts)</h1>
    <ul class = "b">
    <li><a href = "https://repl.it/@ColePete"><h2>Repl.it</h2></a></li>
    <li><a href = "https://github.com/ColePete"><h2>Github</h2></a></li>
    <li><h4>No email, sorry. If you want to speak with me just use "@ColePete" infront of what you want to tell me</h4></li>
    </ul>
    <h1>Best Creations (Links to Repls)</h1>
    <ul class = "b">
      <li><a href = "https://repl.it/talk/share/GAME-The-Mighty-Hero-V14/116573"><h2>[Game] The Mighty Hero V1.4</h2></a></li> 
      <li><a href = "https://repl.it/talk/share/GAME-BRICK-BREAKER/117441"><h2>Brick Breaker</h2></a></li>
      <li><a href "https://repl.it/talk/share/4-Function-Calculator/85538"><h2>4 Function Calculator</h2></a></li> 
      <li><a href "https://repl.it/talk/share/Dice-Roller/86538"><h2>Dice Roller</h2></a></li>
    </ul>
  </body>
  
</html>