<!DOCTYPE html>
<html class="colepete">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>😀 ColePete 😀</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<a href="../">⬅️ Take me back please.</a>
	<center>
		<h1>Hey, I am ColePete</h1>
	</center>
	<center>
		<h3>I like to code <b>a lot</b></h3></center>
    <h1>Languages</h1> 
    <ul class = "b"> 
      <li><h2>Python</h2></li>
      <li><h2>HTML</h2></li>
      <li><h2>JavaScript</h2></li>
      <li><h2>CSS</h2></li>
    </ul>
    <h1>Find Me! (links to my accounts)</h1>
    <ul class = "b">
      <li><a href = "https://repl.it/@ColePete"><h2>Repl.it</h2></a></li>
      <li><a href = "https://github.com/ColePete"><h2>Github</h2></a></li>
      <li><h4>No email, sorry. If you want to speak with me just use "@ColePete" infront of what you want to tell me</h4></li>
    </ul>
    <h1>Best Creations (Links to Repls)</h1>
    <ul class = "b">
      <li><a href = "https://repl.it/talk/share/GAME-The-Mighty-Hero-V14/116573"><h2>[Game] The Mighty Hero V1.4</h2></a></li> 
      <li><a href = "https://repl.it/talk/share/GAME-BRICK-BREAKER/117441"><h2>[Game] Brick Breaker</h2></a></li>
      <li><a href "https://repl.it/talk/share/4-Function-Calculator/85538"><h2>4 Function Calculator</h2></a></li> 
      <li><a href "https://repl.it/talk/share/Dice-Roller/86538"><h2>Dice Roller</h2></a></li>
    </ul>
  </body>
</html>