<!DOCTYPE html>
<html class="colepete">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>😀 ColePete 😀</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <a href="../">⬅️ Take me back please.</a>
    <center>
      <h1 class="purple">Hey, I am ColePete</h1>
      <br />
      <img
        src="../ColePete.png"
        class="yeet"
        alt="Profile Picture"
        style="width: 250px; height: 200px"
      />
    </center>
    <center>
      <h3 class="purple">I like to code a lot</h3>
    </center>
    <center><h1 class="yellow">Languages:</h1></center>
    <ul class="YII">
      <li class="text"><h2>Python</h2></li>
      <li class="text"><h2>HTML</h2></li>
      <li class="text"><h2>JavaScript</h2></li>
      <li class="text"><h2>CSS</h2></li>
    </ul>
    <center><h1 class="blue">Find Me! (links to my accounts)</h1></center>
    <ul class="YAA">
      <li>
        <a class="blue" href="https://repl.it/@ColePete" target="_blank"
          ><h2>Repl.it</h2></a
        >
      </li>
      <li>
        <a
          class="blue"
          a
          :hover
          class="blue"
          href="https://github.com/ColePete"
          target="_blank"
          ><h2>Github</h2></a
        >
      </li>
      <li class="blue"><h4 class="blue">@ColePete in the comments</h4></li>
    </ul>
    <center><h1 class="green">Best Creations: (Links to Repls)</h1></center>
    <ul class="YEE">
      <li>
        <a
          class="link"
          href="https://repl.it/talk/share/GAME-The-Mighty-Hero-V14/116573"
          target="_blank"
          ><h2>[Game] The Mighty Hero V1.4</h2></a
        >
      </li>
      <li>
        <a
          <a
          class="link"
          href="https://repl.it/talk/share/4-Function-Calculator/85538"
          target="_blank"
          ><h2>4 Function Calculator</h2></a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://repl.it/talk/share/Dice-Roller/86538"
          target="_blank"
          ><h2>Dice Roller</h2></a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          target="_blank"
          ><h2>MY BEST CREATION EVER!</h2></a
        >
      </li>
    </ul>
    <center><h1 class="red">A little Info About Me</h1></center>
    <center>
      <h2 class="red">
        I first started coding about 4 months ago. Fun fact
        <a
          class="red"
          :hover="red"
          href="https://repl.it/@Whippingdot"
          style="text-decoration: underline"
          target="_blank"
          >@Whippingdot</a
        >
        was the first person that I met who also liked to code.
        <a
          class="red"
          :hover="red"
          href="https://repl.it/@Whippingdot"
          style="text-decoration: underline"
          target="_blank"
          >@Whippingdot</a
        >
        helped me fix my
        <a
          class="red"
          :hover
          class="red"
          style="text-decoration: underline"
          href="https://repl.it/talk/share/GAME-The-Mighty-Hero-V14/116573"
          >[Game] The Mighty Hero V1.4</a
        >
        repl back when I first started using repl.it. That was a long time
        ago... back when Among Us and Fall Guys were popular.(<img
          src="../gravestone.png"
          style="width: 30px; height: 30px"
        />
        R.I.P <img src="../gravestone.png" style="width: 30px; height: 30px" />)
        But now, to satisfy time, I code a lot more. I really enjoy coding
        because I like how you can create something out of thin air. (like this
        website) I highly suggest that you join this org. Which leads perfectly
        into the next section...
      </h2>
    </center>
    <center>
      <h1 class="orange">Why YOU should join this orgaization</h1>
    </center>
    <center>
      <h2 class="orange">
        This organization is amazing! They have all types of coders with all
        different skill levels. They also except people that code in all
        languages. I was an absolute NOOB when I joined,(I still kinda am, LOL)
        but all the other people are very compassionate and helpful to everyone.
        They will always help you on whatever is needed. They are very
        supportive and help you have a ton of fun while you are coding. We make
        team repls about once every couple of months. Our previous one can be
        found here
        <a
          class="orange"
          a
          :hover
          class="orange"
          style="text-decoration: underline"
          href="https://repl.it/talk/share/Replit-2020-FAVICON-and-SUGGESTIONS-and-ALWAYS-ON/119210"
          target="_blank"
          >Repl.It 2020!</a
        >
        That is a repl that we made to celebrate 2021 by making a repl to thank
        repl.it. Also, my faviorite part about this organization is the fact
        that there are different groups inside of the organization. There are
        groups for every language. So what ever languages you know, you will be
        in that group. (For Example, I am in the Python groun, the JavaScript
        group, the CSS group, and the HTML group.) This organization is really
        fun and creative and if you are either of those things, you should join.
        (and if you are not, LOL)
      </h2>
    </center>
  </body>
</html>
