<!DOCTYPE html>
<html class="colepete">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>😀 ColePete 😀</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<a href="../">⬅️ Take me back please.</a>
	<center>
		<h1 class="text">Hey, I am ColePete</h1>
    <br>
    <img src="../ColePete.png" alt="Profile Picture" style="width:150px;height:100px"> 
  </center>
	<center>
		<h3 class="text">I like to code <b>a lot</b></h3></center>
    <center><h1 class="yellow">Languages:</h1></center>
    <ul class = "YII"> 
      <li class="text"><h2>Python</h2></li>
      <li class="text"><h2>HTML</h2></li>
      <li class="text"><h2>JavaScript</h2></li>
      <li class="text"><h2>CSS</h2></li>
    </ul>
    <center><h1 class="blue">Find Me! (links to my accounts)</h1></center>
    <ul class = "YAA">
      <li><a class="blue" href = "https://repl.it/@ColePete"><h2>Repl.it</h2></a></li>
      <li><a class="blue" a :hover class="blue" href = "https://github.com/ColePete"><h2>Github</h2></a></li>
      <li class="blue"><h4 class = "blue">@ColePete in the comments</h4></li>
    </ul>
    <center><h1 class="text">Best Creations: (Links to Repls)</h1></center>
    <ul class = "YEE">
      <li><a class="link" href = "https://repl.it/talk/share/GAME-The-Mighty-Hero-V14/116573"><h2>[Game] The Mighty Hero V1.4</h2></a></li> 
      <li><a <a class="link" href = "https://repl.it/talk/share/GAME-BRICK-BREAKER/117441"><h2>[Game] Brick Breaker</h2></a></li>
      <li><a <a class="link" href = "https://repl.it/talk/share/4-Function-Calculator/85538"><h2>4 Function Calculator</h2></a></li> 
      <li><a class="link" href = "https://repl.it/talk/share/Dice-Roller/86538"><h2>Dice Roller</h2></a></li>
    </ul>
    <center><h1 class = "text">A little Info About Me</h1></center>

  </body>
</html>