<!-- There are lots of stuff I don't know what to do with so I spared you, but CLEAN THIS UP!!!! I recommend you add a class to your HTML tag and use that html.classname in the style.css file so everything is more clean(look at the style.css in codemonkey's section or ColePete's or CodingRedpanda's or BD103's(i don't think he has one) and look at their html pages too). I want clean pages. All the CSS should be in style.css and your pages should not have links to random things. Have a clean head tag body. Everything in the body tag tho can be AS MESSY AS YOU WANT 😁 Everyone should also be on the same page so if you make a change, no-matter how small it is, write it down in the READTHIS.md(at the bottom) -->
<!DOCTYPE html>
<html lang="en" class="darkdarcool">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href = "/"><button> Go to the main page </button></a>
    <h1>
      Hi! My name is darkdarcool!
    </h1>
    <h4>
       I am a 13 year old coder aspiring to work for Nintedo or Boston Dynamics. 
    </h4>
    <h2>
      Languages I know: 
    </h2>
    <h4>
      I know: java, python, cpp, html, css, javascipt, and a little bit of swift. 
    </h4>
    <h2>
      Roles:
    </h2>
    <h4>
      I am a mod on the repl.it coders. I am not very popular on repl.it itself, but I am very open to any developer spotlights, or content creator and modereration badges. I also have a dev.to profile.
    </h4>
    <h2>
      Contact:
    </h2>
    <h4>
      If you wanna ping me, do so in the comments. You can also ping me on github.
    </h4>
    <br><br><br>
    <h2>
      You have just viewed a mod of the repl.it coders profile.
  </body>
</html>




