<!DOCTYPE html>
<html lang="en" class="darkdarcool">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us!</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <a href="/"><button>Go to the main page</button></a>
    <h1>Hi! My name is darkdarcool!</h1>
    <h4>
      I am a 13 year old coder aspiring to work for Nintendo or Boston Dynamics.
    </h4>
    <h2>Languages I know:</h2>
    <h4>
      I know: java, python, cpp, html, css, javascript, and a little bit of
      swift.
    </h4>
    <h2>Roles:</h2>
    <h4>
      I am a mod on the repl.it coders. I am not very popular on repl.it itself,
      but I am very open to any developer spotlights, or content creator and
      moderation badges. I also have a dev.to profile.
    </h4>
    <h2>Contact:</h2>
    <h4>
      If you wanna ping me, do so in the comments. You can also ping me on
      github.
    </h4>
    <br /><br /><br />
    <h2>You have just viewed a mod of the repl.it coders profile.</h2>
  </body>
</html>
