<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <title> EPIC PIE PAGE EPICCC </title>
</head>
<body>
  <h1> i am pie man </h1> 
  <p> Hello welcome to my page, i am a stale pie that lives somewhere in a bakery(probs in trash). I program in C++ and python. Thats what i am good at, these are what im learning: </p>
  <ul>
    <li> Rust </li>  
    <li> C </li> 
    <li> LOLCODE </li>
    <li> Node.js </li> 
    <li>  and many more... </li>
  </ul> 
  <p> Ok now contacts: </p> 
  <ul>     
    <li> <a href="https://github.com/elipie">git huB </a> 
    <li> <a
  
</body>
</html>