<!DOCTYPE html>
<html lang="en" class="forer">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>forer!</title>
    <link rel="stylesheet" href="//prism.firefish.repl.co/style/main.css"/>
	</head>
	<body>
		<h1 id="title">Hello World!</h1>

    <iframe width="985" height="739" src="https://www.youtube.com/embed/OgjEuzTmowA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="1280" height="720" src="https://www.youtube.com/embed/j4Ph02gzqmY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="1280" height="720" src="https://www.youtube.com/embed/G_YAz6csSFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</body>
</html>