<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>haha é</title>
    <link rel="stylesheet" href="//prism.firefish.repl.co/style/main.css" />
    <link rel="icon" href="favicon.svg" />
  </head>
  <body>
    <h1 class="title">
      By the looks of things, you've been <span class="highl">é-ed</span>.
    </h1>
    <div>
      haha é é é é é é é é<br />
      <hr />
      <div>
        <h1 class="title">Join é gang now!</h1>
        <button><a href="/signup#signupform">l'é</a></button>
      </div>
    </div>
  </body>
</html>
