<!DOCTYPE html>
<html>
	<head>
		<a href="../">Wanna go back? Click me!</a>
		<title>head</title>
	</head>

	<body>
		<h1>why hello there.</h1>
		<p>ME AND MY HOMIES ALL HATE C LANGS!!!</p>
		<p2>I code in node.js, Java, JS, HTML, and some Python.</p2>

		<a href="https://twitter.com/headthememegod">my twitter</a>
		<a href="https://github.com/headiscoding">my github</a>
		<a href="https://reddit.com/u/headisredditing">reddit</a>
		<a href="https://repl.it/@headiscoding">my replit</a>
	</body>
</html>
