<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us!</title>
    <link rel="stylesheet" href="style.css">
    <!-- A bootstrap nav I found in my repls -CodingRedpanda -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <!-- I did some stuff to prettify the nav and home page -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <style>
      body{
        // This is some thing you should not get rid of -- EVER
        background-color:black;
      }
    </style>
    <h1 class="center" style="color:blue;background-color:black; font-family: 'Staatliches', cursive;">HI, THIS IS ALL ABOUT US!</h1>
    <div class="navbar navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/dark">About <b>darkdarcool (mod)</b></a></li>
          <li><a href="/codingredpanda">About.. <b>Codingredpanda (normal person)</b></a></li>
          <li><a href="/ch1ck3n">About <b>ch1ck3n (nobody)</b></a></li>
        </ul>
      </div>
    </div>
  </body>
</html>