<!DOCTYPE html>
<html lang="en" class="isaiah">
	<head class="isaiah">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" type="text/css" />
		<title>isaiah08: The nobody.</title>

	</head>

	<body class="isaiah">
		<a href="/">Please. Get me away from here.</a>
		<h1>Isaiah08, professional nobody (and flask developer)</h1>

		<p>
		I'm supprised you came.<br>
		Most people don't.<br>
		They don't even know about me.<br>
		I'm just one more name <br>
		On a list of them <br>
		Your flooded in how many people there are out there <br>
		And when you see Isaiah Day<br>
		You don't really care. <br>
		<br>
		But since you did <br>
		Here's what i know: <br>
		<br> I am a <br>
		<point>>>> </point>Python programmer <br>		
		<point>>>> </point>Poet <br>
		<point>>>> </point>Author <br>
		<point>>>> </point>Pianist <br>
		<point>>>> </point>Composer <br> <br>

		If your wondering <br>
		<b>What has he done?</b> <br>
		You'll find that it's quite a lot: <br>

		<point>>>> </point> <a class='text' href="https://docs.google.com/document/d/14aYtz2vCl5D31wxassV-V36El5iIsgOYs_d-anCp5I4/edit#"> My best poems </a>
		<br>
		
		<point>>>> </point> <a class='text' href="https://github.com/Kids-Code-Python"> 
		Kids code python </a>
		
		



		</p>
	</body>
</html>
