<!DOCTYPE html>
<html lang="en" class="JB">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>JBloves27 - pogchamp</title>
	</head>

	<body>
		<a href="../">◀️ Back</a>
		<h1>About me</h1>
		<p>
			Hello user, I decided to put my portfolio here, although I did pretty much
			nothing, lol. I guess it might help out for this org, or whatever. lol.
			Anyways, my username used to be
			<a href="https://repl.it/@JBloves27">JBYT27</a> and is now JBloves27. I
			would also like to thank
			<a href="https://repl.it/@headiscoding">head</a> for this username, as he
			gave me the suggestion 😁 I also like coding in Python very much, but I
			try and look forward to being a web dev as well!
		</p>
		<h2>Projects</h2>
		<ul>
			<li>
				<a href="https://repl.it/@JBloves27/PythonIDE"
					>Python IDE (not fully remastered yet)</a
				>
			</li>
			<li>
				<a href="https://repl.it/@JBloves27/Replol"
					>My Google like Python Program</a
				>
			</li>
			<li><a href="https://smth.jbyt27.repl.co/">A Web Bio</a></li>
		</ul>
		<h2>Contacts</h2>
		<ul>
			<li><a href="https://github.com/JBYT27">Github.io</a></li>
			<li><a href="https://repl.it/@JBloves27">Repl.it</a></li>
			<li>
				<a href="https://scratch.mit.edu/users/JBYT27/"
					>Scratch (I barely use this)</a
				>
			</li>
		</ul>
	</body>
</html>
