<!DOCTYPE html>
<html lang="en" class="signup">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Here!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1 class="center"><a class="enlarge" href="https://about-page.whippingdot.repl.co/">About Us!</a></h1>
      <ul id="navbar">
        <li><a href="/colepete">ColePete's Portfolio</a></li>
        <li><a href="/dark">Darkdarcool's Portfoilio</a></li>
        <li><a href="/codingredpanda">CodingRedpanda's Portfolio</a></li>
        <li><a href="/ch1ck3n">ch1ck3n's Portfolio</a></li>
        <li><a href="/codemonkey51">Codemonkey51's Portfolio</a></li>
        <li><a rel="noreferrer noopener" target="_blank" href="/BD103">BD103's Portfolio</a></li>
      </ul>
      <div class="center">
        <ul id="navbar">
          <li><a href="/signup">Sign Up!</a></li>
        </ul>
      </div>
      <br>
    </header>
    <h1 class="center">Signing Up!</h1>
    <p class="center">This is where you sign up to join the GitHub organization!</p>
    <h2 class="center">The form</h2>
    <p class="center">We will just need a few things from you. We will need your repl.it account and your GitHub account for consideration. If we decide to allow you to join the organization you will get ping ponged on repl.it or GitHub. I hope you signup as are community really <strong>needs you!</strong></p>
    <div class="center">
      <form>
        <label for="Username">Username Here</label>
        <br>
        <input name="Username" type="text">
        <br><br>
        <label for="profile-link">Your Repl.it Profile Link</label>
        <br>
        <input name="profile-link" type="url">
        <br><br>
        <label for="GitHub">Your GitHub Profile Link</label>
        <br>
        <input name="GitHub" type="url">
        <br><br><br>
        <button>Sign Up</button>
      </form>
    </div>
  </body>
</html>