<!DOCTYPE html>
<html>
  <head>
    <title>Ticked's Page</title>
  </head>
  <body>
    <h1>Greetings!</h1>
    <p>
      Hello, I am uh, tickedoffsquid, just an average coder on here, I don't
      really have a portfolio to post here because I barely ever finish any
      projects, but other than that, I ain't got much to say.
    </p>

    <p>
      My main and preferred languages are C++, Lua, and Python, although I know
      a few others, these are the ones I tend to stick with if possible
    </p>
  </body>
</html>
