<!DOCTYPE html>
<html lang="en" class="whip">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>Whippingdot ROCKS!🎸</title>
	</head>
	<body>
		<h1 class="center">Hello!</h1>

		<h2 class="center">A little about this page</h2>
		<p>
			I would really like to add lots of nice CSS and make this page look nice
			but then I would have to search off of the internet and that wouldn't be
			nice, would it. This page would only have the HTML and CSS to my extent so
			I don't really care if you hate on my CSS cause I know it is not that
			good.
		</p>

		<h2 class="center">Intro</h2>
		<p>
			Hi, I am Sanjaay [R[EDACTED]]. I like coding, and I hope I can start a
			game dev company in the future. That is my future job for now. My
			experience in coding right now is not too much, with me knowing lots of
			languages, but not knowing how to create complex projects in it. On repl
			talk I haven't gotten any of my own projects trending, and I have earned
			these cycles from my projects made with this organization, or with my
			comments (which are funny). This is my only profile site for now but I
			hope to make my own personal and better ones soon (when I have mastered
			CSS, JS, and HTML). I also hope to make good projects which I can share
			with repl talk.
		</p>

		<h2 class="center">Extra Stuff</h2>
		<p>
			I am pretty irritating to most people and I hope you don't take me that
			way. I also ask way too many questions. I do not like the people who make
			repl talk look bad, and I often report people for this. Please don't get
			offended if I mistakenly report you for doing something you didn't. I also
			have a brother, who uses another website, and recently created a post
			saying thanks for that website for helping him get through his hard times,
			and he also mentioned his friends on the website. I can't really say that
			repl.it helped me through sad times cause COVID wasn't hard for me, but I
			still will shout-out my friends on this website who have helped me have
			fun in my free time 😁. I also hope I put a smile on some of your faces
			when <em>you</em> were going through hard times. I want to mention someone
			here, but they might take it badly, so I won't, but a certain natural
			disaster should know who I am talking about (YOU of course).
		</p>

		<h2 class="center">Moi Friends</h2>
		<p>
			Well, thank you all for helping me have fun during these boring times
			through COVID and thank you for letting me enjoy it. The people I remember
			most as being my friends are:
		</p>
		<ul>
			<li>
				<a href="https://repl.it/@FlaminHotValdez"
					>@FlaminHotValdez (previously a different name)</a
				>
			</li>
			<li>
				<a href="https://repl.it/@JBloves27"
					>@JBloves27 (previously a different name)</a
				>
			</li>
			<li><a href="https://repl.it/@angrydoge">@angrydoge</a></li>
			<li><a href="https://repl.it/@Codemonkey51">@Codemonkey51</a></li>
			<li><a href="https://repl.it/@RhinoRunner">@RhinoRunner</a></li>
			<li><a href="https://repl.it/@TsunamiOrSumth">@TsunamiOrSumth</a></li>
			<li><a href="https://repl.it/@CSharpIsGud">@CSharpIsGud</a></li>
			<li><a href="https://repl.it/@RayhanADev">@RayhanADev</a></li>
		</ul>
		<pre class="center">
      <p>
        More info on those peeps I mentioned above:
        
        First, lemme start off with RayhanADev. RayhanADev was my first friend on repl.it, as when I asked if I could join a repl which RayhanADev and many other famous replers were working on, he said yes, even though I said I wouldn't contribute in any way. There, we had convos as RayhanADev came to the repl when I was present there. We had chats and we got to know each other. One day even he introduced me to another repler, which leads me to the next person...

        TsunamiOrSumth was the second person who friended me. We met on the same repl Rayhan invited me to, and Rayhan introduced me to him. Tsunami came regularly like thrice and then we didn't talk in the repl after that. We did talk in other repls, as I learned a LOT about Tsunami. Tsunami was a huge friend for me and I really appreciate Tsunami connecting with me (even though I still feel that he lied about everything lul).
        
        Next up, I think in order, CSharpIsGud. This dude responded to my call for helpers on that challenge thing that comes every year in December. We did the challenges together, and I learned some unusual facts about him. It was fun, conversing and trying to solve the problems together (with him doing almost everything except one or two, which he helped me with). It was very helpful too for me, as I got to learn a LOT about C++ (like vectors...maps...and stuff like that). We soon stopped doing the challenges (like at the 9th one) but we did do very well in the first challenges.
        
        Now, there are like three people I don't have much to say about and they became my friends around the same time:
        
        First, Codemonkey51. We both met on dev.to, and we followed each other (me having heard of him before, but not knowing where on repl talk). I talked to him, and learned that he used to post frequently, but repl talk changed and stuff like that. He said he wasn't going to post that frequently, and was going to comment and view posts more. He also said he had connections with amasad, which was a cool point. He got to know new features early, and stuff like that (I even got to know something early 😁, it has passed by now).
        
        Next is FlaminHotValdez, who was actually not my friend, and actually kinda angry at me cause I asked him if he had GitHub, he said no, and in a post I made stating the GitHub org for replers, I said something like "you can even get GitHub if you want(@oldusername)". In the comments he asked why I said 'you can get GitHub if you want <i>ahem ahem oldusername ahem ahem</i>', and it turned out really funny. From then on he started commenting on my stuff he saw by me, and we gradually became friends.
        
        Lastly is JBloves27, who was JBYT27. This dude randomly commented on <em>EVERY SINGLE FUNNY COMMENT</em> of mine. I loved it. I was getting attention, hoooooray. But anyway, he started commenting on all of my funny comments all of sudden, and of course we then became friends. He used to say 'lol' or 'lmao' or stuff like that.

        Now, back to the normal ones, angrydoge is here. Me, FlaminHotValdez, angrydoge, and JBloves27, are all in the friend circle. Me and angrydoge became friends cause he also started paying attention to me. angrydoge was like a memer, he made lots of meme images and he was really funny. The main reason he paid attention to me was because my name is Whippingdot and so always liked saying 'IMA nae nae you' or something like that. I used to get angry and say IMA WHIP YOU and we used to have that back and forth. FlaminHotValdez, of course, saw our convos, and when angrydoge started putting a frog nae naeing, FlaminHotValdez gave him the nick name angryfroge. We three became friends and JB would occasionally drop in and say the 'lol' or stuff like that.
        
        Finally, we have RhinoRunner, who is not a MAJOR friend of mine, but I would still call him a friend. He and me usually have wacky convos, usually about his 'inspect' tool on chrome not working, and me trying to convince him to use <a href="https://www.microsoft.com/en-us/edge">Microsoft Edge(use it I LOB IT)</a>, but in my slang, with him not understanding, and him making jokes, and I think you understand the gist.
      </p>
    </pre>

		<h2 class="center">Advertisement</h2>
		<video class="center" src="/EDGEVID.mp4" type="video/mp4" controls muted>
			UR BOWSER EES NUT EDGE SO NO DISPLAY VID
		</video>

		<h2 class="center">Profiles</h2>
		<ul>
			<li><a href="https://dev.to/whippingdot">Dev.to</a></li>
			<li>
				<a href="https://repl.it/@Whippingdot"
					>Repl.it (but why would you need this?)</a
				>
			</li>
			<li><a href="https://github.com/whippingdot">GitHub</a></li>
			<li><a href="https://trello.com/whippingdot">Trello</a></li>
			<li>
				<a href="https://www.nitrotype.com/racer/whippingdot">NitroType</a>
			</li>
		</ul>

		<p class="center">
			That is all, thanks for checking out my Portfolio, BAI!
		</p>
	</body>
</html>
