<!DOCTYPE html>
<html lang="en" class="whip">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>Whippingdot ROCKS!🎸</title>
	</head>
	<body>
		<div></div>
		<h1 class="center">Hello!</h1>

		<h2 class="center">A little about this page</h2>
		<p>
			I would really like to add lots of nice CSS and make this page look nice
			but then I would have to search off of the internet and that wouldn't be
			nice, would it. This page would only have the HTML and CSS to my extent so
			I don't really care if you hate on my CSS cause I know it is not that
			good.
		</p>

		<h2 class="center">Intro</h2>
		<p>
			I am writing this during my SST class don't tell my teacher lul. I like
			coding but I get a little bit too addicted to my computer. This has been
			happening recently so I have kinda lessened the amount of time I am on the
			computer.
		</p>

		<h2 class="center">Basic Facts</h2>
		<div class="center">
			<ul>
				<li>
					Everyone who knows me closely hates me or thinks I am irritating
				</li>
				<li>I have bad convincing skills</li>
				<li>I get good marks in my exams</li>
				<li>I am very good at math</li>
				<li>I have a WPM of 80</li>
				<li>I don't have discord <i>yet</i></li>
			</ul>
		</div>
	</body>
</html>
