<!DOCTYPE html>
<html lang="en" class="whip">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>Whippingdot ROCKS!🎸</title>
	</head>
	<body>
		<div></div>
		<h1 class="center">Hello!</h1>

		<h2 class="center">A little about this page</h2>
		<p>
			I would really like to add lots of nice CSS and make this page look nice
			but then I would have to search off of the internet and that wouldn't be
			nice, would it. This page would only have the HTML and CSS to my extent so
			I don't really care if you hate on my CSS cause I know it is not that
			good.
		</p>

		<h2 class="center">Intro</h2>
		<p>
			Hi, I am Sanjaay [R[EDACTED]]. I like coding, and I hope I can start a
			game dev company in the future. That is my future job for now. My
			experience in coding right now is not too much, with me knowing lots of
			languages, but not knowing how to create complex projects in it. On repl
			talk I haven't gotten any of my own projects trending, and I have earned
			these cycles from my projects made with this organization, or with my
			comments (which are funny). This is my only profile site for now but I
			hope to make my own personal and better ones soon (when I have mastered
			CSS, JS, and HTML). I also hope to make good projects which I can share
			with repl talk.
		</p>

		<h2 class="center">Extra Stuff</h2>
		<p>
			I am pretty irritating to most people and I hope you don't take me that
			way. I also ask way too many questions (stating that fact again). I do not
			like the people who make repl talk look bad, and I often report people for
			this. Please don't get offended if I mistakenly report you for doing
			something you didn't. I also have a brother, who uses another website, and
			recently created a post saying thanks for that website for helping him get
			through his hard times, and he also mentioned his friends on the website.
			I can't really say that repl.it helped me through sad times cause COVID
			wasn't hard for me, but I still will shout-out my friends on this website
			who have helped me have fun in my free time 😁. I also hope I put a smile
			on some of your faces when <em>you</em> were going through hard times. I
			want to mention someone here, but they might take it badly, so I won't,
			but a certain natural disaster should know who I am talking about (YOU of
			course).
		</p>

		<h2 class="center">Moi Friends</h2>
		<p></p>

		<h2 class="center">Basic Facts</h2>
		<div class="center">
			<ul>
				<li>
					Everyone who knows me closely hates me or thinks I am irritating
				</li>
				<li>I have bad convincing skills</li>
				<li>I get good marks in my exams</li>
				<li>I am very good at math</li>
				<li>I have a WPM of 80</li>
				<li>I don't have discord <i>yet</i></li>
			</ul>
		</div>
	</body>
</html>
