<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png">
    <title>Your Site | 404</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </nav>
<h2>404</h2>
<p>Page not found :(</p>
    <button class="dark-button" onclick="DarkMode()"><img class="dark-image" src="imgs/Dark_Mode.svg"></button>
  </body>
  <link href="./style.css" rel="stylesheet">
  <script src="./script.js"></script>
</html>
