<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png">
    <title>Your Site | About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#" class="active">ABOUT</a></li>
      </ul>
    </nav>
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id leo pharetra, iaculis arcu nec, tincidunt dui. Integer risus purus, ultrices nec consequat nec, dapibus in lacus. Quisque sit amet enim pellentesque, cursus elit vitae, pellentesque justo. Etiam efficitur eleifend libero id efficitur. In dignissim dui in nisl porttitor, sit amet pulvinar magna placerat. Aliquam consectetur volutpat turpis, ac ullamcorper nunc. Ut ut finibus est. Mauris ultrices gravida nisl a ultricies. Aliquam eu ipsum ex. Curabitur leo dui, blandit a elit ut, sodales tristique quam. Cras vel sem a lectus convallis elementum. Aenean mattis a neque eget iaculis. Vivamus erat urna, egestas ut mattis at, suscipit vitae purus.

Aenean fermentum mauris nec efficitur maximus. Morbi congue odio id justo fringilla pretium et sit amet nulla. Aenean efficitur euismod consectetur. Duis congue convallis ligula, eu tristique arcu pulvinar vehicula. Ut quis cursus velit, ac placerat lectus. Aliquam quis dolor lacinia, vehicula augue non, feugiat dolor. Nunc sodales viverra ex. Donec ut elit vestibulum ipsum euismod iaculis at vel tellus. Nam luctus non ipsum in varius. Duis mauris tellus, suscipit eget magna vel, bibendum convallis dolor. Praesent pharetra tincidunt malesuada.

</p>
    <button class="dark-button" onclick="DarkMode()"><img class="dark-image" src="imgs/Dark_Mode.svg"></button>
  </body>
  <link href="./style.css" rel="stylesheet">
  <script src="./script.js"></script>
</html>
